@mixin random-movement {
  $multiplier: -1;
  @if (random(2)) == 1 {
    $multiplier: 1;
  }
  $random-number: $multiplier * (random(20) + 10);
  @keyframes moving-rotate {
    33% {
      transform: rotate($random-number + deg);
    }
    66% {
      transform: rotate($random-number * -1 + deg);
    }
  }
  animation: moving-rotate (random(10) + s) linear infinite;
}

.balloon {
    min-width: 100%;
    min-height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    filter: saturate(150%);
}
