.play {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(252, 252, 253);
    // filter: saturate(250%);
}

.score {
    margin: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: deeppink;
    font-size: 2rem;
    font-family: "Bubble";
    letter-spacing: 0.5rem;
    -webkit-text-fill-color: rgb(255, 109, 255);
    -webkit-text-stroke: 0px rgb(255, 109, 255);
}
