<div class="main-background"></div>
<div class="accessibility">
    <div class="header-container">
        <button
            (disabled)="isLoading()"
            (click)="proceedToNextStep()"
            class="close-button"
        >
            <span>x</span>
        </button>
    </div>

    <div class="instructions-container">
        <div class="text">
            Babies are experts at escaping apps! For the best experience, enable
            the
            <span class="interaction-control-text">Interaction Control</span>
            accessibility setting on your device. Then disable the top and
            bottom edges of the screen, like so:
        </div>
        <div class="img-container"></div>
    </div>

    <div class="next-step-container">
        <button class="settings-button" (click)="handleAccessibilityClick()">
            Accessibility Settings
        </button>
        <button
            (click)="proceedToNextStep()"
            [disabled]="isLoading()"
            class="continue-button"
        >
            <div *ngIf="!isLoading()" class="button-text">CONTINUE!</div>
            <div *ngIf="isLoading()" class="button-spinner">
                <div class="container">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </button>
    </div>
</div>
