<!-- <div class="main-background"></div> -->
<div class="advertisement">
    <div class="text">Advertisement</div>
    <div *ngIf="isLoading()" class="spinner-container">
        <div class="spinner">
            <div class="container">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="next-step-container">
        <button
            [disabled]="isDisabled()"
            class="proceed-button"
            (click)="handleButtonClick()"
        >
            Proceed
        </button>
    </div>
</div>
